<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.CarpoolPublishMapper">


    <!-- 查询拼车行程信息,只提供简单信息查询 -->
    <select id="selectTrips" resultType="com.platform.entity.CarpoolPublish" parameterType="com.platform.dto.CarpoolPublishVo" >
        SELECT
            p.id AS id,
            p.mobile AS mobile,
            p.price AS price,
            p.start_point AS startPoint,
            p.start_point_longitude AS startPointLongitude,
            p.start_point_latitude AS  startPointLatitude,
            p.destination AS destination,
            p.by_ways AS byWays,
            p.departure_date AS departureDate ,
            p.departure_time AS departureTime,
            p.passenger_num AS passengerNum,
            p.create_time AS createTime,
            p.update_time AS updateTime
        FROM carpool_publish AS p
        WHERE
           data_status = 0
        <if test="status != null">
            AND p.`status` =  #{status}
        </if>
        <if test="userType != null">
            AND p.user_type =  #{userType}
        </if>
        <if test="departureDate != null">
            <![CDATA[ AND p.departure_date >=  #{departureDate} ]]>
        </if>
        <if test="startPoint != null ">
            AND p.start_point = #{startPoint}
        </if>
        <if test="destination != null ">
            AND p.destination = #{destination}
        </if>
        <if test="geos != null">
            AND p.start_point_geo in
            <foreach item="item" index="index" collection="geos"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="destinationGeos != null">
            AND p.destination_geo in
            <foreach item="item" index="index" collection="destinationGeos"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </select>



</mapper>